* {
  margin: 0px;
  padding: 0px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding: 20px;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
}

.wrapper div {
  display: flex;
  border: solid white;
  height: 80vh;
  margin-top: 80px;
  padding: 10px;
  align-items: center;
  flex-direction: column;
}
.text {
  width: 300px;
  display: flex;
  position: relative;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  height: 30px;
  background-color: rgb(81, 81, 100);
  padding: 10px;
  border: solid;
  flex-direction: column;
}

p img {
  margin-top: 70px;
  width: 300px;
  cursor: pointer;
  animation: rotate 100s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p img:active {
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

#shop,
#reset {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  height: 50px;
}
#upGrades {
  display: flex;
  align-content: space-between;
  gap: 30px;
}

#upGrades button {
  background-color: grey;
  font-family: inherit;
  padding: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  height: 50px;
  width: 250px;
  display: flex;
  position: relative;
  justify-content: center;
}
#upGrade:hover {
  border-color: #646cff;
}
